.textBuy {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  color: $primary-color;
}

.btn {
  padding: 10px 15px;
  border: 2px solid $quartiary-color;
  background-color: $secundary-color;
  border-radius: 10px;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;

  &:hover {
    background-color: $tertiary-color;
    color: $quartiary-color;
    border: 2px solid $quartiary-color;
  }
}
